{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nomenclature/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <title>{% block title %}{% endblock %}|Binomeal Nomenclature</title>
</head>
<body>
    
    <div class="container mt-4">
        <div class="text-center mb-4">
            <h2>Nomenclature Dictionary</h2>
        </div>
    
        <div class="d-flex justify-content-center">
            <form action="{% url 'autocomplete' %}" method="GET" class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="searchbar" name="q" placeholder="Search Here..." class="form-control" required>
                    <input type="submit" value="Search" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    
    
    
    {% block body %}
    {% endblock %}

    <script>
        $(document).ready(function() {
            $("#searchbar").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "{% url 'autocomplete' %}",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function(data) {
                            response(data);
                        },
                        error: function() {
                            console.error("Failed to fetch autocomplete data.");
                        }
                    });
                },
                minLength: 2 // Number of characters before suggestions are displayed
            });
        });
    </script>
</body>
</html>